.resolucion {
    width: 99%;
}
/**Escritorio**/
@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }

    html{
        scroll-behavior: smooth;
    }
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 15px;
}
.bgimg {
    background-image: url('../img/CEMSA.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  hr {
    margin: auto;
    width: 40%;
  }

.des {
    /* background-color: rgb(51, 51, 51); */
    border-radius: 10px;
    margin: 12px;
    padding: 60px;
}
.img {
    float: right;
    transition: height 1s ease 0s, width 1s ease 0s;

}
header {

    display: flex;

    height: 50px;

    background-color: #ffffff;

    justify-content: space-between;

    align-content: center;
    align-items: center;

    padding: 20px 0 10px;

    margin: 0px;

}

user agent stylesheet

header {

    display: block;
}



.logo {

    display: flex;

    align-items: center;

}

user agent stylesheet

div {

    display: block;

}

.logo img {

    height: 50px;

    padding: 10px;

}



nav {

    display: block;

}

nav a {

    font-size: 25px;

    border-radius: 10px;

    padding: 10px;

    background-position: center center;

    transition: padding 1s ease 0s;



}





nav a:hover {

    font-weight: bolder;

    background-color: #36b3e5;

    border-radius: 10px;

    /* padding: 5px 20px; */

}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.imge{
    float: right;
    transition: height 1s ease 0s, width 1s ease 0s;
    border-radius: 10px;
}
.des {
    /* background-color: rgb(51, 51, 51); */
    border-radius: 10px;
    margin: 12px;
    padding: 60px;
}
.des2{
    border-radius: 10px;
    height: auto;
    margin: 12px;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    font-size: 23px;
    color: #000000;
}
.des4{
    border-radius: 10px;
    margin: 12px;
    padding: 30px;
    background-color: #36b3e5;
}

.des5{
    background-color: #36b3e5;
    border-radius: 10px;
    margin: 12px;
    padding: 30px;
}
.tex2 {
    font-size: 38px;
    color: rgb(0, 0, 0);
    background-color: #365ea8;
    width: 250px;
    height: auto;
    text-align: center;
    border-radius: 10px;
}
.tex6 {
    font-size: 38px;
    color: rgb(0, 0, 0);
    background-color: #36b3e5;
    width: 250px;
    height: auto;
    text-align: center;
    border-radius: 10px;
}
.tex {
    font-size: 25px;
    /* color: rgb(255, 255, 255); */
}
.tex4{
    font-size: 25px;
    color: #000000;
}

.conten {
    position: relative;
    width: 100%;
  }


  .text3 {
    background-color: #868686;
    width: 275px;
    color: white;
    font-size: 16px;
    padding: 1px 3px;
    border-radius: 10px;
  }
.contenedor {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
@media only screen and (min-width:768px)
  {
.contenedor-grid{
  margin-bottom:5px;
}
.contenedor-grid::after {
  content: '';
  display: block;
  clear:both;
}
[class*="columnas"]
{
  padding: 0 10px;
  float: left;
}
}
.item-img {
    margin-bottom: 20px;

}
.servicio-item h3 {
    font-size: 24px;
    line-height: 25px;
}
.columnas1-4 {
  width: 30%;
 }
 .columnas2-4 {
  width: 30%;
}
.Titulo{
    padding-bottom: 15px;
    font-size: 38px;
    color: rgb(0, 0, 0);
    background-color: #365ea8;
    text-align: center;
    border-radius: 10px;
  }
  .icono1{
    padding-bottom: 15px;
    background-color: #4273ce;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }
  .icono2{
    padding-bottom: 15px;
    background-color: #3cbaff;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }
  .icono3{
    padding-bottom: 15px;
    background-color: #ffdf00;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }
  .traba{
    font-size: 30px;
  }



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Footer de bolas GC*/

.footeer{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgb(109, 108, 108);

    border-radius: 500px;

}

.foote1{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px #444444a7;

    border-radius: 50px;

}

.foote2{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgb(0, 0, 0, 0.607);

    border-radius: 100px;

}

.foote3{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgba(0, 64, 255, 0.607);

    border-radius: 100px;

}

.foote4{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgba(255, 0, 0, 0.436);

    border-radius: 100px;

}

.foote5{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgb(190, 108, 0);

    border-radius: 100px;

}.foote6{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgba(251, 0, 255, 0.636);

    border-radius: 100px;

}

.foote7{

    margin: 20px;

    box-shadow: 0px 0px 50px 5px rgba(0, 255, 30, 0.372);

    border-radius: 100px;

}

.foote8{

    margin: 20px;

    box-shadow: 0px 0px 50px 5px rgba(9, 230, 255, 0.664);

    border-radius: 100px;

}

.foote9{

    margin: 20px;

    box-shadow: 0px 0px 50px 5px #36f8d2;
    border-radius: 100px;

}





.pie-pagina{

    width: 100%;


    border-radius: 10px;

}

.pie-pagina .grupo-1{

    width: 100%;

    max-width: 1200px;

    margin: auto;

    display:grid;

    grid-template-columns: repeat(3, 1fr);

    grid-gap:50px;

    padding: 5px 0px;

}

.pie-pagina .grupo-1 .box figure{

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}

.pie-pagina .grupo-1 .box figure img{

    width: 250px;

}

.pie-pagina .grupo-1 .box h2{

    color: rgb(0, 0, 0);

    margin-bottom: 25px;

    font-size: 20px;

}

.pie-pagina .grupo-1 .box p{

    color: #000000;

    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social a{

    display: inline-block;

    text-decoration: none;

    width: 45px;

    height: 45px;

    line-height: 45px;

    color: rgb(0, 0, 0);

    margin-right: 10px;

    /* background-color: #868686; */

    text-align: center;

    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover{

    color: #000000;

}


.pie-pagina .grupo-2{

    /* background-color: #365ea8; */

    padding: 15px 10px;

    text-align: center;

    color: rgb(255, 255, 255);

    height: 100%;



}
.subgrupo{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.pie-pagina .grupo-3 small{

    font-size: 15px;

}

.pie-pagina .grupo-3{

    background-color: #3cbaff;

    padding: 15px 10px;

    text-align: center;

    color: #000000;

    border-radius: 0 0 10px 10px;

}

/*
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}*/


}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
      display: none;
  }
  .movil {
      display: none;
  }

html{
    scroll-behavior: smooth;
}

body{
  
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
.bgimg {
    background-image: url('../img/CEMSA.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  hr {
    margin: auto;
    width: 40%;
  }

.des {
    /* background-color: rgb(51, 51, 51); */
    border-radius: 10px;
    margin: 12px;
    padding: 60px;
}
.img {
    float: right;
    transition: height 1s ease 0s, width 1s ease 0s;

}
.sidebar {

    height: 100%;

    width: 0;

    position: fixed;

    z-index: 200;

    top: 0;

    left: 0;

    background-color: #365ea8;

    overflow-x: hidden;

    transition: 0.5s;

    padding-top: 60px;

  }



    .sidebar a {

        padding: 8px 8px 8px 32px;

        text-decoration: none;

        font-size: 70px;

        color: #ffffff;

        display: block;

        transition: 0.3s;

    }



    .sidebar a:hover {

        color: #365ea8;

        font-size: 80px;

    }



  .sidebar .closebtn {

    position: absolute;

    top: 0;

    right: 25px;

    margin-left: 50px;

  }



  .openbtn {

    cursor: pointer;

    color: white;

    border: none;

    background-color: #365ea8;

    font-size: 100px;

    border-radius: 10px;

  }



  .openbtn:hover {

    background-color: #fdcd00;



  }


  #main {
    transition: margin-left .5s;
    padding: 16px;
  }


  header {

    display: flex;

    height: 150px;

    background-color: #ffffff;

    justify-content: space-between;

    align-content: center;
    align-items: center;

    padding: 20px 0 10px;

    margin: 0px;

}

user agent stylesheet

header {

    display: block;
}



.logo {

    display: flex;

    align-items: center;

}

user agent stylesheet

div {

    display: block;

}

.logo img {

    height: 100px;

    padding: 10px;

}



nav {

    display: block;

}

nav a {

    font-size: 25px;

    border-radius: 10px;

    padding: 10px;

    background-position: center center;

    transition: padding 1s ease 0s;



}





nav a:hover {

    font-weight: bolder;

    background-color: #36b3e5;

    border-radius: 10px;

    /* padding: 5px 20px; */

}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.imge{
    float: right;
    transition: height 1s ease 0s, width 1s ease 0s;
    border-radius: 10px;
}
.des {
    /* background-color: rgb(51, 51, 51); */
    border-radius: 10px;
    margin: 12px;
    padding: 60px;
}
.des2{
    border-radius: 10px;
    height: auto;
    margin: 12px;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    font-size: 40px;
    color: #000000;
}
.des4{
    border-radius: 10px;
    margin: 12px;
    padding: 30px;
    background-color: #365ea8;
}

.des5{
    border-radius: 10px;
    margin: 12px;
    padding: 30px;
    background-color: #36b3e5;
}
.tex2 {
    font-size: 38px;
    color: rgb(0, 0, 0);
    background-color: #365ea8;
    width: 250px;
    height: auto;
    text-align: center;
    border-radius: 10px;
}
.tex6 {
    font-size: 38px;
    color: rgb(0, 0, 0);
    background-color: #A8BCC6;
    width: 250px;
    height: auto;
    text-align: center;
    border-radius: 10px;
}
.tex {
    font-size: 25px;
    /* color: rgb(255, 255, 255); */
}
.tex4{
    font-size: 25px;
    color: #000000;
}

.conten {
    position: relative;
    width: 100%;
  }


  .text3 {
    background-color: #868686;
    width: 275px;
    color: white;
    font-size: 16px;
    padding: 1px 3px;
    border-radius: 10px;
  }
.contenedor {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
@media only screen and (min-width:768px)
  {
.contenedor-grid{
  margin-bottom:5px;
}
.contenedor-grid::after {
  content: '';
  display: block;
  clear:both;
}
[class*="columnas"]
{
  padding: 0 10px;
  float: left;
}
}
.item-img {
    margin-bottom: 20px;

}
.servicio-item h3 {
    font-size: 24px;
    line-height: 25px;
}
.columnas1-4 {
  width: 30%;
 }
 .columnas2-4 {
  width: 30%;
}
.Titulo{
    padding-bottom: 15px;
    font-size: 38px;
    color: rgb(0, 0, 0);
    background-color: #365ea8;
    text-align: center;
    border-radius: 10px;
  }
  .icono1{
    padding-bottom: 15px;
    background-color: #4273ce;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }
  .icono2{
    padding-bottom: 15px;
    background-color: #3cbaff;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }
  .icono3{
    padding-bottom: 15px;
    background-color: #ffdf00;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }
  .traba{
    font-size: 30px;
  }



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Footer de bolas GC*/

.footeer{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgb(109, 108, 108);

    border-radius: 500px;

}

.foote1{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px #444444a7;

    border-radius: 50px;

}

.foote2{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgb(0, 0, 0, 0.607);

    border-radius: 100px;

}

.foote3{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgba(0, 64, 255, 0.607);

    border-radius: 100px;

}

.foote4{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgba(255, 0, 0, 0.436);

    border-radius: 100px;

}

.foote5{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgb(190, 108, 0);

    border-radius: 100px;

}.foote6{

    margin:0px 25px;

    box-shadow: 0px 0px 50px 5px rgba(251, 0, 255, 0.636);

    border-radius: 100px;

}

.foote7{

    margin: 20px;

    box-shadow: 0px 0px 50px 5px rgba(0, 255, 30, 0.372);

    border-radius: 100px;

}

.foote8{

    margin: 20px;

    box-shadow: 0px 0px 50px 5px rgba(9, 230, 255, 0.664);

    border-radius: 100px;

}

.foote9{

    margin: 20px;

    box-shadow: 0px 0px 50px 5px #36f8d2;
    border-radius: 100px;

}



.pie-pagina{

  width: 100%;

  /* background-color: #868686; */

  border-radius: 10px;

  text-align: center;

}

.pie-pagina .grupo-1{

  width: 100%;

  max-width: 1200px;

  margin: auto;

  display:grid;

  grid-template-columns: repeat(3, 1fr);

  grid-gap:50px;

  padding: 5px 0px;

}

.pie-pagina .grupo-1 .box figure{

  width: 100%;

  height: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

}

.pie-pagina .grupo-1 .box figure img{

  width: 250px;

}

.pie-pagina .grupo-1 .box h2{

  color: rgb(0, 0, 0);

  margin-bottom: 25px;

  font-size: 20px;

}

.pie-pagina .grupo-1 .box p{

  color: #000000;

  margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social a{

  display: inline-block;

  text-decoration: none;

  width: 45px;

  height: 45px;

  line-height: 45px;

  color: rgb(0, 0, 0);

  margin-right: 10px;

  /* background-color: #868686; */

  text-align: center;

  transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover{

  color: #365ea8;

}

.pi
.pie-pagina .grupo-2{

    /* background-color: #365ea8; */

    padding: 15px 10px;

    text-align: center;

    color: rgb(255, 255, 255);

    height: 100%;



}
.subgrupo{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.pie-pagina .grupo-3 small{

  font-size: 15px;

}

.pie-pagina .grupo-3{

  background-color: #36b3e5;

  padding: 15px 10px;

  text-align: center;

  color: rgb(255, 255, 255);

  border-radius: 0 0 10px 10px;

}

}